body
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header
{
  margin-top:2%;
}
ul
{
   list-style-type: none;margin : 0%;padding : 0%;overflow : hidden;font-size: 100%;font-weight: bold;width:75%;float:right;
   padding-left:20%;
 }
li
{ color:rgb(177, 174, 174); font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  float:left;display:block;text-align:center;padding: 2%;
}
 div.main_1
 {   margin-top:7%;
     background-image: url("pics/Smile\,breathe\,\ and\ go\ slowly..png"); background-repeat:no-repeat;
     background-position-y: 20%;  
     
}

img.image
{
  width : 18%;
  height : 8%;
  margin-left: auto;
  margin-right: auto;
  padding-left:10%;
}

object
{ position: absolute;
   margin-right:25%;
   }


nav{ 
  
  vertical-align: top;
  /*position: relative;
  bottom:40%;
  left:50%;*/
  
}





p.reg
{
  color:white;
  background-color:#fcc601;
  font-size: 150%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  height:18%;
  width:45%;
  padding-left:3%;
  padding-right:3%;
  padding-top:3%;
  padding-bottom:3%;
  text-align: center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-weight: bold;
}

p.reg:hover,p.reg:focus
{
  box-shadow: 4px 4px 4px 4px  #ffe37d;
  cursor: pointer;
}




li.but
{background:#fcc601;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
 color:white;
 font-weight: bold;
 font-size:110%;
}

li.but:hover
{
  box-shadow: 2px 2px 2px 2px #bfc9c8;
}
li.but:focus
{
  box-shadow: 2px 2px 2px 2px #9c9696;
}

div.main_1
{ 
  height : 65%;
  width : 100%;
  background-repeat: no-repeat;
}

div.main_1_1
{
 padding-top:20%;
 padding-bottom:40%;
 padding-left:14%;
 

}
header
{
  margin-top : 2%;
}
li.home,li.courses
{ color:black;}

@font-face
{
  font-family: first;
  src: url(
        font/Acme-Regular.ttf
      );
}
@font-face
{
  font-family:second;
  src:url(font/neuropolitical.ttf);
}

h1
{
  font-family:first; 
  font-size : 300%;
  font-weight: lighter;
}
h3
{
  font-family:second;
  color:#272222;
}
a:visited
{
  
  color:black;

}
a:hover,a:focus
{
  color:rgb(177, 174, 174);
}

div.wrapper
{

  margin:0% auto 7% auto;
}
/*div.col-md-3
{ align-content: center;
  width:20%;
  margin-right:auto;
  margin-left:auto;
}*/

/*div.col-md-3>figure>img
{ align-self: center;
  height:90%;
  width:90%;
}*/
/*
div.col-sm-12>figure>img
{align-self: center;
  height:120%;
  width:120%;
}*/
@font-face
{
  font-family: fourth;
  src: url(font/CHLORINR.TTF);
}

figcaption.col3
{ font-family: fourth;
   text-align: right;
  padding-top:10%;
  font-size: 110%;
}

@font-face
{
  font-family: sixth;
  src: url(font/Neutronium.ttf);
}


div.txt
{
  font-family:sixth;
  font-size:150%;
}

div.txt3
{
  font-family:sixth;
  font-size:150%;
  text-align: center;
}
h2
{ text-align: center;
   font-size: 350%;
   font-weight: lighter;
  
}
div.image1
{
  text-align: center;
  position:relative;
  top:4%;
}

@font-face
{
  font-family: fifth;
  src: url(font/armed-webfont.woff);
}

p.inside
{
  font-family: fifth;
  text-align: center;
}
/*.col-md-4
{
  margin-right:auto;
  margin-left:auto;

}
*/
@font-face
{
  font-family: seventh;
  src: url(font/libel-suit-rg.ttf);
}

div.txt2,div.txt4
{
  text-align: center;
  font-family: seventh;
  font-size:150%;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-md-"] {
    width: 100%;
  }
}